body {
    background-color: bisque;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks content vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Removes default margin */
}

#canvas{
    border-color: black;
    border: double;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#video-section {
    display: flex; /* Enables flexbox for the video section */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    flex-grow: 1; /* Makes the video section take up available space */
    width: 100%; /* Full width */
}

#title {
    text-align: center; /* Centers the text inside the title */
    margin-bottom: 20px; /* Adds spacing below the title */
}

#controls {
    display: flex; /* Enables flexbox for the buttons */
    justify-content: center; /* Centers the buttons horizontally */
    gap: 10px; /* Adds spacing between buttons */
    margin-bottom: 20px; /* Adds spacing from the bottom of the page */
}

#previous, #next, #auto, #pause, #play, #upload {
    border-radius: 80px;
    width: 60px; /* Adjust button size */
    height: 60px;
    border: none;
    background-color: #ccc; /* Button background color */
    cursor: pointer;
}

